body{
    margin:0;
    background:#fff7f5;
    overflow:hidden;
    font-family:cursive;
}

#scene{
    width:100vw;
    height:100vh;
}

.mensaje{
    position:absolute;
    bottom:30px;
    width:100%;
    text-align:center;
    font-size:2rem;
    color:#c95d7b;
}